extends layout

block head
    link(rel="stylesheet", href="/styles/show-details.css")

block content
    .title-div
        if entry.data.eng_title 
            h1= entry.data.eng_title
            p.subtitle= entry.data.o_lang_title
        else
            h1= entry.data.o_lang_title
        if favList
            a(href="/saveShow/" + entry.id) Add to favorites
    .desc-div
        div= entry.data.long_desc

    .seasons-div
        for season in entry.data.seasons
            h4= season.title
            table
                for episode in season.episodes
                    tr
                        td= episode.number + " | " + episode.title

        