extends layout

block head
    link(rel="stylesheet", href="styles/shows.css")

block content

    h1 Shows
    each show in animeList
        - var showId = show.id
        .show-item(id="showItem-" + showId)
            if show.data.eng_title
                h1= show.data.eng_title
            else
                h1= show.data.o_lang_title

            .show-desc
                p= show.data.short_desc

                ul.show-info-bar
                    li= show.data.release_season, show.data.release_year
                    li= showId


